/Results
**/test-output
**/target

debug.log
target
/sshkey
/sshkey.pub
/deployKey.pub
/deployKey.pub.pub
/BOMCalcuation.txt
/cookie.file
/bin/
*.class
*.jar
*.war
tmp/
*.project
/.settings
.idea/
*.iml
.DS_Store
.idea
.temp
.classpath
.settings/
/Results
/MiddleLayerDataFiles
